.el-message-box {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  &__content,
  &__header {
    padding: 0 25px;
  }
  &__header {
    margin-bottom: 20px;
  }
  &__title {
    color:  var(--text-primary-color) !important;
    font-size: var(--text-title-font-size);
    height: 50px;
    line-height: 50px;
  }
  .el-message-box__headerbtn {
    right: 25px;
    .el-message-box__close {
      color:  var(--form-label-color) !important;
      font-size: 20px;
    }
  }
  .footer {
    text-align: center;
    padding-top: 15px;
  }
}

.el-form {
  width: 100% !important;
}

.el-form-item {
  margin-bottom: 15px;
  &__label {
    font-size: var(--form-label-font-size);
    line-height: 18px;
    color: var(--form-label-color);
    padding: 0 0 5px !important;
  }
  &__error {
    padding-top: 2px;
    font-size: 10px;
  }
  .el-select {
    width: 100%;
  }
  .el-input__inner {
    color: var(--form-label-color);
    font-size: var(--font-size);
  }
}

[data-theme='dark'] {
  .el-input__inner {
    background-color: var(--search-bg-color) !important;
    border: none;
    border-bottom: 1px solid var(--text-primary-color);
    border-radius: 0;
  }
}

.el-button--primary,
.el-button--primary:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.el-button--primary:hover {
  opacity: .9;
}

// el-tooltip
.el-tooltip {
  &:hover {
    color: var(--color-primary);
  }
}

.el-tooltip__popper {
  max-width: 130px;
  line-height: 14px;
  font-size: var(--text-desc-font-size);
  word-break: break-all;
  padding: 4px 6px;
  border-radius: 2px;
}

.el-dialog{
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  .el-dialog__title,
  .el-dialog__body{
    color: var(--text-color);
  }
}

// el-popconfirm
.el-popconfirm {
  &__main {
    padding-bottom: 12px;
    font-size: 12px;
    i {
      font-size: 15px;
    }
  }
}

[data-theme="dark"] {
  // 下拉选择框
  .el-select-dropdown {
    background: #0B1015;
    border-color: #0B1015;
    .el-select-dropdown__item.hover, 
    .el-select-dropdown__item:hover {
      background-color: #07161C;
    }
    .el-select-dropdown__item.selected {
      color: var(--text-primary-color);
      font-weight: 700;
    }
  }
  .el-select:hover .el-input__inner {
    border-color: var(--text-primary-color);
  }

  .el-select .el-input.is-focus .el-input__inner {
    border-color: var(--text-primary-color);
  }

  .el-select .el-input__inner:focus {
    border-color: var(--text-primary-color);
  }

  // 气泡确认框
  .el-popper {
    background: #0B1015 !important;
    border-color: #07161C !important;
    .popper__arrow,
    .popper__arrow::after {
      border-bottom-color: #07161C !important;
    }
    .el-popconfirm {
      &__main {
        color: var(--text-color);
      }
    }
    .el-button--text {
      color: var(--text-color);
      font-size: 12px;
    }
  }

}